
@{
	ViewData["Title"] = "Question Bank";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab card">
	<button id="defaultOpen" class="tablinks" onclick="questPart(event, 'Part1')"><h5 class="mb-0">Part 1</h5></button>
	<button class="tablinks" onclick="questPart(event, 'Part2')"><h5 class="mb-0">Part 2</h5></button>
	<button class="tablinks" onclick="questPart(event, 'Part3')"><h5 class="mb-0">Part 3</h5></button>
	<button class="tablinks" onclick="questPart(event, 'Part4')"><h5 class="mb-0">Part 4</h5></button>
</div>

<div id="Part1" class="tabcontent card overflow-auto">

	<div id="partHeader">
		<h3>Part 1 Recordings</h3>
		<button type="button" class="btn btn-primary">
			<i class="fa fa-plus-circle" aria-hidden="true"></i> New Recording
		</button>
	</div>
	<p>A conversation between two people set in everyday social context</p>
	<hr>

	@*Ouput the recordings for Part 1 here*@

	@for (int i = 1; i <= 5; i++)
	{
		<div class="card mb-2">
			<div class="card-body recording">
				<div class="recText">
					<a href="#">
						@* If Availability is True == Success(Green) Else == Grey(Secondary)  *@
						<i class="fa fa-check-circle @(i <=3 ? "text-success":"text-secondary")" aria-hidden="true"></i>
					</a>

					@* Recording Title *@
					&nbsp;&nbsp; @i. A solar Heating System
				</div>
				<div class="dropdown">
					<button class="btn btn-light dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">	
						<button class="dropdown-item" href="#">Edit <i class="fa fa-pencil text-primary float-right mt-1" aria-hidden="true"></i></button>
						<button class="dropdown-item" href="#">Delete<i class="fa fa-trash text-danger float-right mt-1" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>

	}
</div>

<div id="Part2" class="tabcontent card overflow-auto">
	<div id="partHeader">
		<h3>Part 2 Recordings</h3>
		<button type="button" class="btn btn-primary">
			<i class="fa fa-plus-circle" aria-hidden="true"></i> New Recording
		</button>
	</div>
	<p>A monologue set in an everyday social context, e.g. a speech about local facilities.</p>
	<hr>

	@*Ouput the recordings for Part 2 here*@

	@for (int i = 1; i <= 5; i++)
	{
		<div class="card mb-2">
			<div class="card-body recording">
				<div class="recText">
					<a href="#">
						<i class="fa fa-check-circle @(i <=3 ? "text-success":"text-secondary")" aria-hidden="true"></i>
					</a>
					&nbsp;&nbsp; @i. A solar Heating System
				</div>
				<div class="dropdown">
					<button class="btn btn-light dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Edit <i class="fa fa-pencil text-primary float-right mt-1" aria-hidden="true"></i></a>
						<a class="dropdown-item" href="#">Delete <i class="fa fa-trash text-danger float-right mt-1" aria-hidden="true"></i></a>



					</div>
				</div>
			</div>
		</div>
	}

</div>

<div id="Part3" class="tabcontent card overflow-auto">
	<div id="partHeader">
		<h3>Part 3 Recordings</h3>
		<button type="button" class="btn btn-primary">
			<i class="fa fa-plus-circle" aria-hidden="true"></i> New Recording
		</button>
	</div>
	<p>A conversation between up to four people set in an educational or training context, e.g. a university tutor and a student discussing an assignment.</p>
	<hr>

	@*Ouput the recordings for Part 3 here*@

	@for (int i = 1; i <= 5; i++)
	{
		<div class="card mb-2">
			<div class="card-body recording">
				<div class="recText">
					<a href="#">
						<i class="fa fa-check-circle @(i <=3 ? "text-success":"text-secondary")" aria-hidden="true"></i>
					</a>
					&nbsp;&nbsp; @i. A solar Heating System
				</div>
				<div class="dropdown">
					<button class="btn btn-light dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Edit <i class="fa fa-pencil text-primary float-right mt-1" aria-hidden="true"></i></a>
						<a class="dropdown-item" href="#">Delete <i class="fa fa-trash text-danger float-right mt-1" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	}
</div>

<div id="Part4" class="tabcontent card overflow-auto">
	<div id="partHeader">
		<h3>Part 4 Recordings</h3>
		<button type="button" class="btn btn-primary">
			<i class="fa fa-plus-circle" aria-hidden="true"></i> New Recording
		</button>
	</div>
	<p>A monologue on an academic subject, e.g. a university lecture.</p>
	<hr>

	@*Ouput the recordings for Part 4 here*@

	@for (int i = 1; i <= 5; i++)
	{
		<div class="card mb-2">
			<div class="card-body recording">
				<div class="recText">
					<a href="#">
						<i class="fa fa-check-circle @(i <=3 ? "text-success":"text-secondary")" aria-hidden="true"></i>
					</a>
					&nbsp;&nbsp; @i. A solar Heating System
				</div>
				<div class="dropdown">
					<button class="btn btn-light dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Edit <i class="fa fa-pencil text-primary float-right mt-1" aria-hidden="true"></i></a>
						<a class="dropdown-item" href="#">Delete <i class="fa fa-trash text-danger float-right mt-1" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	}

</div>



	
	
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		//Set default open part1 tab
		$('#defaultOpen').click();

		// Function that switch between tabs
		function questPart(evt, partNo) {
			// Declare all variables
			var i, tabcontent, tablinks;

			// Get all elements with class="tabcontent" and hide them
			tabcontent = $('.tabcontent');
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}

			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = $('.tablinks');
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}

			// Show the current tab, and add an "active" class to the link that opened the tab
			$('#' + partNo).css("display", "block");

			//document.getElementById(partNo).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>
}


