@model BACS3403_Project.Models.QuestionGroup

@{
	ViewData["Title"] = "Create";

	var recording = ViewData["RecordingModel"] as Recording;

	string[] optionArr = { "Multiple choice", "Matching", "Plan, map, diagram labelling", "Form, note, table, flow-chart, summary completion", "Sentence completion", "Short-answer questions" };

	int lastQuestGrpNo = int.Parse(Context.Request.Query["lastQuestNo"]);
	int qPart = int.Parse(Context.Request.Query["recordingPart"]);

	int questNoEnd;

	switch (qPart)
	{
		case 1:
			questNoEnd = 10;
			break;
		case 2:
			questNoEnd = 20;
			break;
		case 3:
			questNoEnd = 30;
			break;
		case 4:
			questNoEnd = 40;
			break;
		default:
			questNoEnd = 0;
			break;
	}

}

<div>
	<a asp-controller="Recordings" 
	   asp-action="Details" 
	   asp-route-Id="@Context.Request.Query["recordingId"]" class="btn btn-outline-secondary">
		Back to List
	</a>
</div>
<br />

<h3>Add New Question Group</h3>
<h4>Recording Title: @recording.Title</h4>

<hr />

<div class="card justify-content-center">
	<div class="card-body">
		<form method="post" asp-action="Create">
			<div class="row form-inline">
				<div class="form-group col-4">

					<label for="selectQuestNo" class="col-form-label  mx-3">Questions:</label>
					<input type="hidden" asp-for="QuestionNoStart" value="@(lastQuestGrpNo)" />
					<select  class="custom-select" id="selectQuestNo">
						@for (int i = lastQuestGrpNo ; i <= questNoEnd; i++)
						{
							@if ( i == lastQuestGrpNo)
							{
								<option value="@i" selected>@i</option>
							}
						}
					</select>

					<label for="selectQuestNo2" class="col-form-label mx-3">To</label>
					<select asp-for="QuestionNoEnd" class="custom-select" id="selectQuestNo2" required>
						@for (int i = lastQuestGrpNo + 1 ; i <= questNoEnd; i++)
						{
							<option value="@i">@i</option>
						}
					</select>
					<span asp-validation-for="QuestionNoEnd" class="text-danger col-8"></span>
				</div>

				<div class="form-group col-8">
					<label for="selectQuestNo" class="col-form-label  mx-3">Question Type</label>
					<select asp-for="TaskType" class="custom-select col-8" id="selectQuestType" required>

						@*Create string array to store diplay option *@
						<option value="" selected>choose...</option>
						@for (int i = 0; i < 6; i++)
						{
							<option value="@(i + 1)">@optionArr[i]</option>
						}
					</select>
					<span asp-validation-for="TaskType" class="text-danger col-4"></span>
				</div>
			</div>

			<div class="form-group mx-5 my-3 col-10">
				<label for="questTextArea" class="col-form-label-lg"><b>Question:</b></label>
				<textarea asp-for="QuestionGroupURL" id="editor" placeholder="Type the content here!">
								&lt;p&gt;This is some sample content. Question URL&lt;/p&gt;
				</textarea>
			</div>
			<div class="col-12">
				<input type="hidden" asp-for="RecordingID" value="@recording.RecordingId" />
				<div class="form-group float-right">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</div>

		</form>
	</div>
	<hr />
</div>


@section Scripts {

	<script src="~/lib/ckeditor5/build/ckeditor.js"></script>
	<script>

		ClassicEditor
			.create(document.querySelector('#editor'), {
				toolbar: {
					items: [
						'undo',
						'redo',
						'|',
						'heading',
						'|',
						'fontFamily',
						'fontSize',
						'|',
						'bold',
						'italic',
						'underline',
						'code',
						'horizontalLine',
						'bulletedList',
						'numberedList',
						'|',
						'indent',
						'outdent',
						'|',
						'imageUpload',
						'blockQuote',
						'insertTable'
					]
				},
				language: 'en',
				image: {
					toolbar: [
						'imageTextAlternative',
						'imageStyle:full',
						'imageStyle:side'
					]
				},
				table: {
					contentToolbar: [
						'tableColumn',
						'tableRow',
						'mergeTableCells',
						'tableCellProperties',
						'tableProperties'
					]
				},
				licenseKey: '',
				isReadOnly: true,
			})
			.then(editor => {
				window.editor = editor;
			})
			.catch(error => {
				console.error('Oops, something gone wrong!');
				console.error('Please, report the following error in the https://github.com/ckeditor/ckeditor5 with the build id andthe error stack trace:');
				console.warn('Build id: 571780nchaof-wu4owlwikxxz');
				console.error(error);
			});


	</script>



	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
