@model BACS3403_Project.Models.QuestionGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionGroupURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionGroupURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recording)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recording.RecordingId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionGroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
