@model BACS3403_Project.ViewModels.TestViewModel;

@{
	ViewData["Title"] = "Attendance Report";
}

@section StyleSheets{
	<link href="~/css/GradeStyleSheets.css" rel="stylesheet" />
}


<div class="row">
	<div class="gradeSearch card col-3 p-3">
		<h5>Select a test</h5>
		<hr />
		<form action="/" method="post">
			<div class="form-group">
				<label for="exampleFormControlSelect1">Test Venue</label>
				<select asp-for="Venue" class="form-control"
						asp-items="@(new SelectList(ViewBag.ListOfVenue, "VenueValue", "VenueName"))">
				</select>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Date</label>
				<select asp-for="Date" class="form-control"
						asp-items="@(new SelectList(string.Empty,"VenueDateValue","VenueDateName"))"
						onchange="">
				</select>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect1">Session</label>
				<select asp-for="Session" class="form-control"
						asp-items="@(new SelectList(string.Empty,"VenueSessionValue","VenueSessionName"))">
				</select>
			</div>
			<button id="SubmitTestDetails" type="button" class="btn btn-primary float-right">Search</button>
		</form>
	</div>
	<div class="gradeContent card col-9">
		<div class="row justify-content-between pl-3">
			<h5>View Attendance</h5>
			<form asp-action="PrintAttendanceReport" method="post">
				<input id="inputVenue" type="hidden" name="venue" value="" />
				<input id="inputDate" type="hidden" name="date" value="" />
				<input id="inputTime" type="hidden" name="time" value="" />
				<button type="submit" class="btn btn-primary mr-3 px-3">Print</button>
			</form>
		</div>
		<hr />
		<div id="CandidatesDataTable">
			@await Component.InvokeAsync("Attendance", new { venue = "", date = "", time = "" })
		</div>
	</div>
</div>


@section Scripts {

	<script src="~/lib/DataTables/datatables.min.js"></script>

	<script>
		$(document).ready(function () {
			//Configure Cascading DropdownList Default Value "Select"
			var items = "<option value='0'>Select</option>";
			$('#Date').html(items);
			$('#Session').html(items);

			//Configure Cascading DropdownList  Select Input OnChange
			$('#Venue').change(function () {
				var url = '@Url.Content("~/")' + "Grades/GetTestDate";
				var ddlsource = "#Venue";
				$.getJSON(url, { Venue: $(ddlsource).val() }, function (data) {
					var items = '';
					$('#Date').empty();
					$('#Session').empty();
					$.each(data, function (i, date) {
						items += "<option value='" + date.value + "'>" + date.text + "</option>";
					});
					$('#Date').html(items);
					$('#Session').html("<option value='0'>Select</option>");
				});
			});

			$('#Date').change(function () {
				var url = '@Url.Content("~/")' + "Grades/GetTestSessions";
				var ddlsource = "#Venue";
				var ddlsource2 = "#Date";
				$.getJSON(url, { Venue: $(ddlsource).val(), Date: $(ddlsource2).val() }, function (data) {
					var items = '';
					$('#Session').empty();
					$.each(data, function (i, date) {
						items += "<option value='" + date.value + "'>" + date.text + "</option>";
					});
					$('#Session').html(items);
				});

			});
		});

	</script>
	<script>
		$(document).ready(function () {

			//init DataTable with no Empty values
			$('#candidatesList').DataTable({
				"scrollY": "350px",
				"scrollCollapse": true,
				"paging": true,
				"info": true,
			});

			//When search test details form on submit
			$('#SubmitTestDetails').on('click', function () {
				var _url = '@Url.Action("GetAttendanceViewComponent", "TestAdmin")';
				$.ajax({
					type: "GET",
					url: _url,
					data: { TestVenue: $('#Venue').val(), TestDate: $('#Date').val(), TestSession: $('#Session').val() },
					success: function (result) {
						//Display data to the table
						$("#CandidatesDataTable").html(result);

						//init DataTable
						$('#candidatesList').DataTable({
							"scrollY": "350px",
							"scrollCollapse": true,
							"paging": true,
							"info": true,
							"destroy": true,
						});
					},
				});

				$('#inputVenue').val($('#Venue').val());
				$('#inputDate').val($('#Date').val());
				$('#inputTime').val($('#Session').val());

			});
		});
	</script>


}
